In [1]:
import pandas as pd
import numpy as np

In [2]:
reg1 = pd.read_csv('Air_permitting/Region_1.csv',encoding= 'unicode_escape')

In [3]:
reg2 = pd.read_csv('Air_permitting/Region_2.csv',encoding= 'unicode_escape')
reg3 = pd.read_csv('Air_permitting/Region_3.csv',encoding= 'unicode_escape')

In [32]:
reg1.head()

,FACILITY_NAME,NAICS,ZIP,FIPS,REPORTING_YEAR,UNIT_NAME,FUEL_TYPE,FUEL_QUANTITY,FUEL_QUANTITY_UOM,Input_Capacity,Unit
0,"Allnex USA, Inc.",325211,6492.0,NaN,2016.0,Boiler 1,Oil 6,"120,000",gal/yr,80.00,MMBtu/hr
1,"Allnex USA, Inc.",325211,6492.0,NaN,2016.0,Boiler 3,Oil 6,2800000,gal/yr,87.00,MMBtu/hr
2,"Frito-Lay, Inc. - Dayville Facility",311919,6241.0,NaN,2018.0,Cleaver Brooks Delta 60 Watertube Boiler No.1,Natural gas,NaN,NaN,52.55,MMBtu/hr
3,"Frito-Lay, Inc. - Dayville Facility",311919,6241.0,NaN,2018.0,Cleaver Brooks Delta 60 Watertube Boiler No.2,Natural gas,NaN,NaN,52.55,MMBtu/hr
4,"Frito-Lay, Inc. - Dayville Facility",311919,6241.0,NaN,2018.0,Cleaver Brooks Delta 60 Watertube Boiler No.3,Natural gas,NaN,NaN,52.89,MMBtu/hr

In [33]:
reg2.head()

,FACILITY_NAME,COUNTY_FIPS,COUNTY,ZIP,NAICS,SIC,Description,REPORTING_YEAR,UNIT_NAME,FUEL_TYPE,FUEL_QUANTITY,FUEL_QUANTITY_UOM,Maxmum gross heat input,Unit
0,STEINWAY & SONS,NaN,NaN,11105,NaN,3931.0,NaN,2017.0,FST-600,No. 2 fuel oil and natural gas,NaN,NaN,24.20,MMBtu/hr
1,STEINWAY & SONS,NaN,NaN,11105,NaN,3931.0,NaN,2017.0,"Cleaver Brooks, SB600-600",No. 2 fuel oil and natural gas,NaN,NaN,25.20,MMBtu/hr
2,CHEMPRENE INC,NaN,NaN,12508,NaN,3052.0,NaN,2016.0,00B01,natural gas or No.4 fuel oil,NaN,NaN,20.92,MMBtu/hr
3,CHEMPRENE INC,NaN,NaN,12508,NaN,3052.0,NaN,2016.0,00B02,natural gas or No.4 fuel oil,NaN,NaN,20.92,MMBtu/hr
4,GLOBALFOUNDRIES US 2 LLC,NaN,NaN,12533,NaN,3471.0,NaN,2017.0,NaN,natural gas,NaN,NaN,72.00,MMBtu/hr

In [4]:
reg3.head()

,FACILITY_NAME,ZIP,NAICS,SIC,REPORTING_YEAR,UNIT_NAME,FUEL_TYPE,FUEL_QUANTITY,FUEL_QUANTITY_UOM,Input_Capacity,Unit,Installed_Year
0,General Dynamics  Armament and Technical Prod...,24354,332311.0,NaN,2013.0,Cleaver Brook 18,Natural gas/distillate oil,NaN,NaN,50.2,MMBtu/hr,NaN
1,General Dynamics  Armament and Technical Prod...,24354,332311.0,NaN,2013.0,Cleaver Brook 19,Natural gas/distillate oil,NaN,NaN,12.5,MMBtu/hr,NaN
2,"Vaughan-Bassett Furniture Company, Inc.",24333,337122.0,NaN,2017.0,BS-1,Wood/coal,NaN,NaN,21.776,MMBtu/hr,NaN
3,"Vaughan-Bassett Furniture Company, Inc.",24333,337122.0,NaN,2017.0,BS-2,Wood/coal,NaN,NaN,19.16,MMBtu/hr,NaN
4,"Vaughan-Bassett Furniture Company, Inc.",24333,337122.0,NaN,2017.0,BS-3,Wood/coal,NaN,NaN,27,MMBtu/hr,NaN

In [22]:
va = reg3[(reg3.ZIP >20100) &(reg3.ZIP<26887)]

In [11]:
pa[pa.ZIP==19030]

,FACILITY_NAME,ZIP,NAICS,SIC,REPORTING_YEAR,UNIT_NAME,FUEL_TYPE,FUEL_QUANTITY,FUEL_QUANTITY_UOM,Input_Capacity,Unit,Installed_Year
159,HEUCOTECH LTD,19030,NaN,2865,2020.0,NaN,Natural gas,NaN,NaN,0.663,MMBtu/hr,NaN
232,US STEEL CORP,19030,NaN,3479,2019.0,GAL3 STEAM BOILER,Natural gas,NaN,NaN,31.2,MMBtu/hr,NaN

In [31]:
#va.FACILITY_NAME.unique()
#va[va.FACILITY_NAME=='Perdue Grain and Oilseed, LLC']